@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin clickable {
	cursor: pointer;

	&:hover {
		opacity: 0.575 !important;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

button {
	@include clickable();
}

.clickable {
	@include clickable();
}
